/* 
       font-family: 'Inter', sans-serif;
       font-family: 'Lobster', cursive;
       font-family: 'Manrope', sans-serif;
       font-family: 'Poppins', sans-serif;
       font-family: 'Roboto', sans-serif;
*/

*{
       margin: 0;
       padding: 0;
}
.top-container{
       background-image: url(./images/donation13.jpg);
       background-size: cover;
       
}
.top-div{
       text-align: center;
       padding: 15%;    
}
.top-text{
       font-family: 'Inter', sans-serif ;
       font-weight: bold;
       font-size: 65px;
       color: white;
}
p{
       font-family:'Poppins', sans-serif ;
       font-weight: 400;
       font-size: 18px;
       margin: 3%;
}
.top-para{
       color: white;
}
.top-btn{
       font-family: 'Inter', sans-serif ;
       font-size: 20px;
       font-weight: 600px;
       background-color: #02a95c;
       color: white;
       border: 1px solid #84e2b6b5;
       border-radius: 8px;
       padding: 16px 12px;
       margin: 30px 0px;
       border: none;
}
.donate-container{
       text-align: center;
       margin: 5%;
}
.donate-div{
       padding: 5% 15%;
}
.donate-head{
       font-family: 'Inter', sans-serif ;
       font-weight: bold;
       font-size: 45px;
       color: #121212;
}
.para-text, .book-plan{
       color: #707070;

}
#book-box{
       border: 1px solid #02a95c;
       border-radius: 5px;
       background-color: #84e2b6b5;
}
.book-plan{
       font-family: 'Inter', sans-serif ;
       font-weight : Bold;
       font-size : 30px;
       margin: 0px 5px;
       padding: 30px 15px;
}
.donate-part{
       text-align: center;
}
#amount{
       font-family:'Poppins', sans-serif ;
       font-weight: 400;
       font-size: 18px;
       color: #B3B3B3;
       margin-top: 7%;
}
hr{
       margin: 0% 20%;
       color: #DADADA;
}
